/* ГЛАВНЫЙ ШРИФТ */
.address-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
}


.button {
background: #00d9ff;
padding: 14px;
border: none;
color: #000;
font-weight: 600;
width: 100%;
border-radius: 12px;
margin-top: 10px;
cursor: pointer;
transition: 0.3s;
box-shadow: 0 0 12px rgba(0, 217, 255, 0.45);
}


.button:hover {
background: #00aacc;
box-shadow: 0 0 18px #00d9ff;
}


/* КАРТОЧКИ МАСТЕРОВ */
.master-card {
background: #141414;
padding: 18px;
border-radius: 16px;
box-shadow: 0 0 18px rgba(0, 217, 255, 0.25);
text-align: center;
transition: 0.3s;
animation: fadeIn 0.8s ease;
}


.master-card:hover {
transform: translateY(-6px);
box-shadow: 0 0 25px rgba(0, 217, 255, 0.5);
}


.master-card img {
width: 100%;
border-radius: 12px;
margin-bottom: 10px;
box-shadow: 0 0 12px rgba(0, 217, 255, 0.3);
}


/* АНИМАЦИИ */
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}


@keyframes fadeInUp {
from { opacity: 0; transform: translateY(20px); }
to { opacity: 1; transform: translateY(0); }
}


@keyframes fadeInDown {
from { opacity: 0; transform: translateY(-20px); }
to { opacity: 1; transform: translateY(0); }
}